In [19]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from keras import layers

In [20]:
df = pd.read_csv("Churn_Modelling.csv.txt")

In [21]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [22]:
df = df.drop(columns = ["RowNumber", "CustomerId", "Surname"], axis = 1)

In [33]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [23]:
x = df.drop(columns="Exited", axis=1)
y = df["Exited"]

In [24]:
geography = pd.get_dummies(df["Geography"])
gender = pd.get_dummies(df["Gender"])

In [25]:
x = pd.concat([x, geography, gender], axis=1)

In [26]:
x = x.drop(columns=["Geography", "Gender"], axis=1)

In [34]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [29]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [30]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [31]:
x_train.shape

(8000, 13)

In [42]:
model = keras.Sequential([
    layers.Dense(6, kernel_initializer="he_uniform", activation="relu", input_shape=[13]),
    layers.Dropout(0.3),
    layers.Dense(6, kernel_initializer="he_uniform", activation="relu"),
    layers.Dropout(0.3),
    layers.Dense(1, kernel_initializer="glorot_uniform", activation="sigmoid")
    
])

model.compile(
    optimizer = "adam",
    loss = "binary_crossentropy",
    metrics = ["accuracy"]
)

model.fit(x_train, y_train, epochs=100, batch_size=10)

Epoch 1/100
800/800 [==============================] - 1s 879us/step - loss: 0.5624 - accuracy: 0.7678
Epoch 2/100
800/800 [==============================] - 1s 1ms/step - loss: 0.5023 - accuracy: 0.7945
Epoch 3/100
800/800 [==============================] - 1s 953us/step - loss: 0.4756 - accuracy: 0.8001
Epoch 4/100
800/800 [==============================] - 1s 862us/step - loss: 0.4664 - accuracy: 0.8010
Epoch 5/100
800/800 [==============================] - 1s 847us/step - loss: 0.4591 - accuracy: 0.8019
Epoch 6/100
800/800 [==============================] - 1s 849us/step - loss: 0.4599 - accuracy: 0.8031
Epoch 7/100
800/800 [==============================] - 1s 838us/step - loss: 0.4522 - accuracy: 0.8002
Epoch 8/100
800/800 [==============================] - 1s 873us/step - loss: 0.4497 - accuracy: 0.8024
Epoch 9/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4476 - accuracy: 0.8005
Epoch 10/100
800/800 [==============================] - 1s 995us/step - loss: 0.4479 - accuracy: 0.8012
Epoch 11/100
800/800 [==============================] - 1s 845us/step - loss: 0.4393 - accuracy: 0.8046
Epoch 12/100
800/800 [==============================] - 1s 845us/step - loss: 0.4410 - accuracy: 0.8039
Epoch 13/100
800/800 [==============================] - 1s 850us/step - loss: 0.4336 - accuracy: 0.8044
Epoch 14/100
800/800 [==============================] - 1s 857us/step - loss: 0.4363 - accuracy: 0.8066
Epoch 15/100
800/800 [==============================] - 1s 857us/step - loss: 0.4317 - accuracy: 0.8073
Epoch 16/100
800/800 [==============================] - 1s 856us/step - loss: 0.4345 - accuracy: 0.8077
Epoch 17/100
800/800 [==============================] - 1s 859us/step - loss: 0.4334 - accuracy: 0.8066
Epoch 18/100
800/800 [==============================] - 1s 843us/step - loss: 0.4263 - accuracy: 0.8070
Epoch 19/100
800/800 [==============================] - 1s 846us/step - loss: 0.4240 - accuracy: 0.8073
Epoch 20/100
800/800 [==============================] - 1s 844us/step - loss: 0.4207 - accuracy: 0.80890s - loss: 0
Epoch 21/100
800/800 [==============================] - 1s 834us/step - loss: 0.4257 - accuracy: 0.8074
Epoch 22/100
800/800 [==============================] - 1s 869us/step - loss: 0.4197 - accuracy: 0.8080
Epoch 23/100
800/800 [==============================] - 1s 855us/step - loss: 0.4236 - accuracy: 0.8080
Epoch 24/100
800/800 [==============================] - 1s 838us/step - loss: 0.4246 - accuracy: 0.8079
Epoch 25/100
800/800 [==============================] - 1s 855us/step - loss: 0.4214 - accuracy: 0.8077
Epoch 26/100
800/800 [==============================] - 1s 856us/step - loss: 0.4171 - accuracy: 0.8095
Epoch 27/100
800/800 [==============================] - 1s 857us/step - loss: 0.4215 - accuracy: 0.8079
Epoch 28/100
800/800 [==============================] - 1s 851us/step - loss: 0.4252 - accuracy: 0.8067
Epoch 29/100
800/800 [==============================] - 1s 860us/step - loss: 0.4177 - accuracy: 0.8081
Epoch 30/100
800/800 [==============================] - 1s 877us/step - loss: 0.4233 - accuracy: 0.8085
Epoch 31/100
800/800 [==============================] - 1s 942us/step - loss: 0.4212 - accuracy: 0.8089
Epoch 32/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4239 - accuracy: 0.8077
Epoch 33/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4240 - accuracy: 0.8075
Epoch 34/100
800/800 [==============================] - 1s 918us/step - loss: 0.4173 - accuracy: 0.8094
Epoch 35/100
800/800 [==============================] - 1s 910us/step - loss: 0.4175 - accuracy: 0.8096
Epoch 36/100
800/800 [==============================] - 1s 928us/step - loss: 0.4232 - accuracy: 0.8091
Epoch 37/100
800/800 [==============================] - 1s 895us/step - loss: 0.4194 - accuracy: 0.8083
Epoch 38/100
800/800 [==============================] - 1s 874us/step - loss: 0.4238 - accuracy: 0.8056
Epoch 39/100
800/800 [==============================] - 1s 921us/step - loss: 0.4266 - accuracy: 0.8067
Epoch 40/100
800/800 [==============================] - 1s 913us/step - loss: 0.4186 - accuracy: 0.8080
Epoch 41/100
800/800 [==============================] - 1s 911us/step - loss: 0.4189 - accuracy: 0.8094
Epoch 42/100
800/800 [==============================] - 1s 927us/step - loss: 0.4208 - accuracy: 0.8083
Epoch 43/100
800/800 [==============================] - 1s 934us/step - loss: 0.4248 - accuracy: 0.8073
Epoch 44/100
800/800 [==============================] - 1s 949us/step - loss: 0.4236 - accuracy: 0.8075
Epoch 45/100
800/800 [==============================] - 1s 887us/step - loss: 0.4211 - accuracy: 0.8065
Epoch 46/100
800/800 [==============================] - 1s 866us/step - loss: 0.4135 - accuracy: 0.8089
Epoch 47/100
800/800 [==============================] - 1s 876us/step - loss: 0.4210 - accuracy: 0.8081
Epoch 48/100
800/800 [==============================] - 1s 849us/step - loss: 0.4243 - accuracy: 0.8060
Epoch 49/100
800/800 [==============================] - 1s 864us/step - loss: 0.4230 - accuracy: 0.8058
Epoch 50/100
800/800 [==============================] - 1s 859us/step - loss: 0.4169 - accuracy: 0.8080
Epoch 51/100
800/800 [==============================] - 1s 871us/step - loss: 0.4235 - accuracy: 0.8075
Epoch 52/100
800/800 [==============================] - 1s 866us/step - loss: 0.4177 - accuracy: 0.8092
Epoch 53/100
800/800 [==============================] - 1s 977us/step - loss: 0.4221 - accuracy: 0.8079
Epoch 54/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4178 - accuracy: 0.8080
Epoch 55/100
800/800 [==============================] - 1s 962us/step - loss: 0.4213 - accuracy: 0.8081
Epoch 56/100
800/800 [==============================] - 1s 877us/step - loss: 0.4212 - accuracy: 0.8087
Epoch 57/100
800/800 [==============================] - 1s 875us/step - loss: 0.4226 - accuracy: 0.8079
Epoch 58/100
800/800 [==============================] - 1s 860us/step - loss: 0.4113 - accuracy: 0.8099
Epoch 59/100
800/800 [==============================] - 1s 884us/step - loss: 0.4136 - accuracy: 0.8094
Epoch 60/100
800/800 [==============================] - 1s 936us/step - loss: 0.4172 - accuracy: 0.8094
Epoch 61/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4158 - accuracy: 0.8101
Epoch 62/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4211 - accuracy: 0.8075
Epoch 63/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4196 - accuracy: 0.8064
Epoch 64/100
800/800 [==============================] - 1s 994us/step - loss: 0.4186 - accuracy: 0.8074
Epoch 65/100
800/800 [==============================] - 1s 989us/step - loss: 0.4156 - accuracy: 0.8085
Epoch 66/100
800/800 [==============================] - 1s 969us/step - loss: 0.4156 - accuracy: 0.8090
Epoch 67/100
800/800 [==============================] - 1s 862us/step - loss: 0.4255 - accuracy: 0.8073
Epoch 68/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4187 - accuracy: 0.8065
Epoch 69/100
800/800 [==============================] - 1s 977us/step - loss: 0.4139 - accuracy: 0.8075
Epoch 70/100
800/800 [==============================] - 1s 981us/step - loss: 0.4115 - accuracy: 0.8085
Epoch 71/100
800/800 [==============================] - 1s 949us/step - loss: 0.4148 - accuracy: 0.8087
Epoch 72/100
800/800 [==============================] - 1s 952us/step - loss: 0.4202 - accuracy: 0.8074
Epoch 73/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4235 - accuracy: 0.8065
Epoch 74/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4185 - accuracy: 0.8073
Epoch 75/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4149 - accuracy: 0.8079
Epoch 76/100
800/800 [==============================] - 1s 953us/step - loss: 0.4210 - accuracy: 0.8069
Epoch 77/100
800/800 [==============================] - 1s 963us/step - loss: 0.4163 - accuracy: 0.8066
Epoch 78/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4157 - accuracy: 0.8070
Epoch 79/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4092 - accuracy: 0.8106
Epoch 80/100

800/800 [==============================] - 1s 1ms/step - loss: 0.4178 - accuracy: 0.8083
Epoch 81/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4181 - accuracy: 0.8084
Epoch 82/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4143 - accuracy: 0.8087
Epoch 83/100
800/800 [==============================] - 1s 945us/step - loss: 0.4230 - accuracy: 0.8083
Epoch 84/100
800/800 [==============================] - ETA: 0s - loss: 0.4157 - accuracy: 0.80 - 1s 984us/step - loss: 0.4148 - accuracy: 0.8099
Epoch 85/100
800/800 [==============================] - 1s 983us/step - loss: 0.4162 - accuracy: 0.8077
Epoch 86/100
800/800 [==============================] - 1s 939us/step - loss: 0.4188 - accuracy: 0.8073
Epoch 87/100
800/800 [==============================] - 1s 994us/step - loss: 0.4141 - accuracy: 0.8060
Epoch 88/100
800/800 [==============================] - 1s 930us/step - loss: 0.4165 - accuracy: 0.8085
Epoch 89/100
800/800 [==============================] - 1s 942us/step - loss: 0.4192 - accuracy: 0.8077
Epoch 90/100
800/800 [==============================] - 1s 906us/step - loss: 0.4165 - accuracy: 0.8076
Epoch 91/100
800/800 [==============================] - 1s 914us/step - loss: 0.4149 - accuracy: 0.8087
Epoch 92/100
800/800 [==============================] - 1s 901us/step - loss: 0.4164 - accuracy: 0.8086
Epoch 93/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4127 - accuracy: 0.8090
Epoch 94/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4171 - accuracy: 0.8058
Epoch 95/100
800/800 [==============================] - 1s 931us/step - loss: 0.4161 - accuracy: 0.8080
Epoch 96/100
800/800 [==============================] - 1s 996us/step - loss: 0.4178 - accuracy: 0.8074
Epoch 97/100
800/800 [==============================] - 1s 926us/step - loss: 0.4181 - accuracy: 0.8079
Epoch 98/100
800/800 [==============================] - 1s 919us/step - loss: 0.4195 - accuracy: 0.8067
Epoch 99/100
800/800 [==============================] - 1s 919us/step - loss: 0.4159 - accuracy: 0.8085
Epoch 100/100
800/800 [==============================] - 1s 927us/step - loss: 0.4164 - accuracy: 0.8077

In [43]:
model.evaluate(x_test, y_test)

63/63 [==============================] - 0s 926us/step - loss: 0.3747 - accuracy: 0.8210

[0.37474626302719116, 0.8209999799728394]